<h1><%= @blog.title %></h1>

<div class="posts">
<div class="post" style="margin-top: 3em;">
  <pre><%= @blog.description.html_safe %></pre>
</div>

<div class="post" style="margin-top: 2em;">
  <pre><%= @blog.content.html_safe %></pre>
</div>

<div class="cmt-like">
  <div style="margin-left: auto"></div>
<% if @blog.user == current_user then %>
  <%= link_to "edit", edit_blog_path %>
<% else %>
  <i>By <%= @blog.user.username %></i>
<% end %>
</div>

<div class="cmt-like">
  <h3>Comments: <%= @blog.comment.count %></h3>
  <div style="margin-left: auto"></div>

<% if current_user then %>
  <%= form_with model: [ @blog, @blog.likes.build ] do |form| %>
    <% if Like.find_by(user_id: current_user.id, blog_id: @blog.id)%>
      <%= form.submit "unlike"%>
    <% else %>
      <%= form.submit "like"%>
    <% end %>
  <% end %>
<% else %>
  <%= button_to "like", new_user_session_path %>
<% end %>

  <h3>Likes: <%= @blog.likes.count %></h3>
</div>
<% if @blog.comment.count > 0 then %>
<div class="post">
<% @blog.comment.each do |comment|%>
  <div class="cmt">
    <b><%= comment.user.username %></b>:
    <%= comment.comment %>
  </div>
<% end %>
</div>
<% end %>

<div class="new-cmt post">
<%= form_with(model: @cmts, local: true) do |form| %>
  <% if @cmts.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% c.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if current_user then %>
    <%= form.hidden_field :user_id, :value =>current_user.id %>
  <% end %>
  <%= form.hidden_field :blog_id, :value =>@blog.id %>
  <%= form.text_field :comment %>
  <div style="margin-left: auto"></div>
  <% if current_user then %>
    <%= form.submit "comment" %>
  <% else %>
    <%= button_to "comment", new_user_session_path %>
  <% end %>
<% end %>
</div>
</div>